@import "tailwindcss";

@layer theme {
  .dark {
    --color-accent: #fc4747;
    --color-surface: #161d2f;
    --color-background: #10141e;
    --color-text-primary: #e7e5e4;
    --color-text-secondary: #a3a3a3;
    --color-text-tertiary: #d1d5d4;
    --color-nav-active-bg: #e7e5e415;
  }
}

@theme {
  --color-accent: #dc2626;
  /* --color-surface: #e8e8e8; */
  --color-surface: #ebebeb;
  /* --color-background: #efefef; */
  --color-background: #fff;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-tertiary: #6b7280;
  --color-nav-active-bg: #11182715;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: "Outfit", sans-serif;
}

.carousel-container {
  --nVisibleItems: 2;
  --gap: 24px;

  grid-auto-columns: calc((100% - (var(--nVisibleItems) - 1) * var(--gap)) / var(--nVisibleItems));
  gap: var(--gap);
}

@media (min-width: 442px) {
  /* xs */
  .carousel-container {
    --nVisibleItems: 3;
  }
}

@media (min-width: 640px) {
  /* sm */
  .carousel-container {
    --nVisibleItems: 4;
  }
}

@media (min-width: 768px) {
  /* md */
  .carousel-container {
    --nVisibleItems: 5;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .carousel-container {
    --nVisibleItems: 6;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .carousel-container {
    --nVisibleItems: 6;
  }
}
